<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="lib/jquery.js"></script>
    <script src="lib/underscore.js"></script>
    <script src="lib/backbone.js"></script>
</head>
<body>
<div id="topContainer">

</div>

<script type="text/template" id="todoConTem">
    <div id="todoContainer">
        <header> TODO </header>
        <div class="menuContainer">

            <% _.each(menuItem, function(item) { %>
            <div class="menuItem"><a href="#<%= item %>/3"><%= item %></a></div>
            <% }); %>

        </div>
        <input type="text" placeholder="type here">
        <div class="todoItemConatiner">

        </div>
    </div>
</script>

<script type="text/template" id="todoItem">
   <div>
       <input type="checkbox" id="todoCheck" <% print( obj.done ?  'checked="checked"' : '') %> />
       <div class="item"><%= obj.item %></div>
   </div>
</script>

<script src="js/todoModel.js"></script>
<script src="js/todoCollection.js"></script>
<script src="js/todoCollectionView.js"></script>
<script src="js/todoView.js"></script>
<script src="js/todoParentView.js"></script>
<script src="js/todoRouter.js"></script>

</body>
</html>